<ion-toolbar>
  <ion-title>
    <h2>30x30 Demo</h2>
  </ion-title>
    @if (authFacade.userLoggedIn$ | async) {
      <ion-buttons slot="secondary">
        <ion-button routerLink="/home">Home</ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button routerLink="/" (click)="authFacade.logout()">Logout</ion-button>
      </ion-buttons>
    } @else {
      <ion-buttons slot="secondary">
        <ion-button routerLink="/login">Login</ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button routerLink="/register">Register</ion-button>
      </ion-buttons>
    }
</ion-toolbar>
